/**
 * context
 */

.delta_context {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 16px;
  color: #000000;
  background-color: #ffffff;
  text-align: left;
  font-size: 12px;
}

.delta_context dd {
  margin: 10px 40px 10px 40px;
  border: none;
}

.delta_context code {
  font-family: "Courier New", Courier, monospace !important;
}

/**
 * stack trace
 */

.delta_exception_trigger_code {
  margin-bottom: 2%;
  border: 1px solid #999999;
}

.delta_exception_trigger_code dt {
  color: #ffffff;
  padding: 6px 10px 6px 10px;
  background-color: #999999;
}

.delta_exception_trigger_code dd {
  background-color: #efefef;
  margin: 0;
}

.delta_stack_traces .file_info {
  font-weight: normal;
  font-style: italic;
}

.delta_stack_traces dt {
  font-weight: bold;
  padding: 6px;
  cursor: pointer;
  background-color: #ffffff;
  border: none;
}

.delta_context .delta_code_inspector {
  border: 1px solid #999999;
  padding: 0;
}

/**
 * code inspector
 */
.delta_code_inspector h2 {
  font-size: 12px;
  padding: 6px;
  margin: 0;
  background-color: #999999;
  text-indent: 4px;
  color: #ffffff;
}

.delta_stack_trace {
  background-color: #efefef;
  margin: 0;
}

.delta_stack_trace code {
  border: none;
  background-color: transparent;
}

/**
 * dprint()
 */
.delta_dprint {
  margin: 20px;
  border: 1px solid #333333;
}

.delta_dprint_title {
  padding: 6px;
  text-indent: 10px;
  background-color: #3C6C92;
  color: #FFFFFF;
  margin: 0;
}

.delta_dprint_box {
  padding: 10px;
  height: 300px;
  overflow: auto;
}

.delta_dprint_box .delta_dprint_detail dt {
  padding: 6px;
  margin-left: 20px;
  border-bottom: 1px solid #999999;
}

.delta_dprint_box pre {
  background-color: #efefef;
  padding: 10px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  overflow: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/**
 * dtrace()
 */
.delta_dtrace {
  display: none;
  color: red;
}


